/* Definition for Page Layout */
/* For responsive padding and diont size, i utilized the clamp() function as described in W3*/
body {
   background: white;
   font-size: clamp(1rem, 2vw, 2rem);;
   text-align: center;
   display: grid;
   margin: 0;

   grid-template-columns: 160px auto;
   grid-template-rows: 160px auto 100px;

   grid-template-areas: 
      "nav head"
      "nav main"
      "nav foot";
   min-height: 100vh;
}

/* Header for top of page to show the page they are on */
header {
    grid-area: head;
    background: #818181;
    color:white;
    padding: clamp(10px, 2vw, 20px);
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    align-items: center;
}

header h1 {
    margin: clamp(25px, 2vw, 40px);
    font-size: clamp(1.5rem, 3vw, 3rem);
}

/* Main content area */
main {
    grid-area: main;
    padding: clamp(10px, 2vw, 20px);
    font-size: clamp(1rem, 2vw, 1.5rem);
}

/* Footer for bottom of page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: clamp(5px, 1.5vw, 10px);
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    align-items: center;
    align-content: center;

    grid-area: foot;
}

/* Refrenced W3Schools.com for side navigation bar. */
/* Add a black background color to the top navigation */
nav.side-nav {
    background-color: #CCE0E8; 
    color:white;
    overflow-x: hidden;
    padding-top: clamp(20px, 4vw, 40px);
    font-size: clamp(0.9rem, 2vw, 1.5rem);

    grid-area: nav;
}

nav.side-nav a {
    padding: clamp(4px, 1vw, 8px) clamp(8px, 2vw, 16px);
    text-decoration: none;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    color: black;
    display: block;
}

/* Changes Links color on hover */
nav.side-nav a:hover {
    background-color: #E8D4C5;
    color: black;
}

/* Highlight the active/current link */
nav.side-nav a.active {
    background-color: #BAC2DD;
    color: black;
}
